<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'queuemining/style.css' %}">
    <head>
        <meta charset="utf-8">
        <title>Your Table</title>
    </head>
    <body>
        <div class="outlining">
            <div class="main-box">
                <p>
                    <form action="{% url 'queuemining:create_table' table.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                    </form>
                </p>
            </div>
        </div>
    </body>
</html>