<!DOCTYPE html>
<html>
<style>
table, th, td {
  border: 1px solid black;
}
th{text-align: left}
</style>
</head>
<body>
<table style="width: 100%;">
    <td>Activity</td>
    <td>Number of cases in the queue</td>
    <td>Average service time</td>
    <td>Average waiting time</td>
    <td>Resources</td>
    <td>Capacity of the activity</td>
    {% for i in data %}

    <tr>
        <td>{{i.activity}}</td>
        <td>{{i.number}}</td>
        <td>{{i.service}}</td>
        <td>{{i.waiting}}</td>
        <td>{{i.resources}}</td>
        <td>{{i.capacity}}</td>
    </tr>

    {% endfor %}
</table>
</body>
</html>