<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'queuemining/style.css' %}">
    <head>
        <meta charset="utf-8">
        <title>Your Table</title>
    </head>
    <body>
        <div class="outlining">
            <div class="main-box">
                <p>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            <thead>
                                <td>Activity</td>
                                <td>Number of cases in the queue</td>

                                <td>Average service time</td>
                                <td>Average waiting time</td>
                                <td>Resources</td>
                                <td>Capacity of the activity</td>
                            </thead>
                            <tbody>
                                {% for i in table_data %}
                                <tr>
                                    <td>{{i.activity}}</td>
                                    <td>{{i.number}}</td>
                                    <td>{{i.service}}</td>
                                    <td>{{i.waiting}}</td>
                                    <td>{{i.resources}}</td>
                                    <td>{{i.capacity}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <p>Submit a new time step to compare</p>

                        {{ time_form.as_p }}


                        <button type="submit" name="time_submit">Submit</button>


                        <p>Choose a timeframe to be visualized</p>

                        {{ current_form }}

                        <p>
                            {{ time_text }}
                        </p>
                    </form>

                    <form method="post" enctype="multipart/form-data" onsubmit="return confirm('Do you want to delete?')">
                        {% csrf_token %}
                        <input type="submit" value="Delete" name="time_delete"/>
                        <input type="submit" value="Delete All" name="time_delete_all"/>
                    </form>
                    <p>
                        {{ delete_text }}
                    </p>
                    <p>
                        <a href="{% url 'queuemining:get_data' %}"><button>View upload page</button></a>
                    </p>
                </p>
            </div>
        </div>
    </body>
</html>